<ion-header>
  <ion-toolbar>
    <ion-title>
      번역어 검색 순위
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let data of dataList">
    <ion-card-header class="card-header">
      <ion-card-title class="card-title">
        <b> {{data.COUNT_RANK}} 위</b>
      </ion-card-title>
    </ion-card-header>
    "{{data.TH_TEXT}}}"의 내용을<br>
    "{{data.TH_RESPONSE}}}"으로 번역을<br>
    "{{data.TH_COUNT}}}"회 수행하였습니다.<br>
  </ion-card>
</ion-content>
