ion-toolbar>div{
  
  text-align: center;
}

.papago_logo{
  margin: auto;
  width: 200px;
}


#resDiv{
  margin: 20px;
  font-size: 30px;
}

ion-button{
  width: 50%;
  font-size: 22px;
}

ion-content{
  text-align: center;
}

ion-label{
  font-size: 22px;
}

.arrowIcon{
  font-size: 30px;
  margin-top: 50px;
}
#sourceItem{
  display: inline-block;
  width:43%;
}

#targetItem{
  width:43%;
  display: inline-block;
}

#textItem{
  margin-left: 10px;
  margin-right: 10px;
}