<ion-header>
 <ion-toolbar>
   <div>
     <ion-img src="assets/image/papago_logo.png" class="papago_logo"></ion-img>
   </div>
   <ion-title align="center">
     <h1>번역기</h1>
   </ion-title>
 </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item id="sourceItem">
      <ion-label position="floating">source</ion-label>
        <ion-select [(ngModel)]="source">
          <ion-select-option *ngFor="let lang of langNameForUser | keyvalue" value="{{lang.key}}">{{lang.value}}</ion-select-option>}
      </ion-select>
    </ion-item>
    <ion-icon class="arrowIcon" name="arrow-round-forward"></ion-icon>
    <ion-item id="targetItem">
      <ion-label position="floating">target</ion-label>
      <ion-select [(ngModel)]="target">
        <ion-select-option *ngFor="let lang of langNameForUser | keyvalue" value="{{lang.key}]">{{lang.value}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item id="textItem">
      <ion-label position="floating">text</ion-label>
      <ion-textarea
      maxlength="1200"
      auto-grow="true"
      [(ngModel)]="text"></ion-textarea>
    </ion-item>
    <ion-button color="secondary" (click)="doTranslation()">번역하기</ion-button>
    <div padding id="resDiv">{{resDiv}}</div>
</ion-content>
